<!DOCTYPE html>
  <html lang="en">
  {% load static tailwind_tags %}
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <title>{% block title %}ToDo List Manager{% endblock title %}</title>
  </head>

    <body class="bg-zinc-100">
      <div id="content" name="content">
        <div class="flex justify-between m-5">
          <h1 class="text-red-500 text-2xl"><a href="/">My Todos</a></h1>
          <div class="flex justify-center space-x-4 text-2xl ">
            <a class="hover:text-red-500" href="/todos">Todos</a>
            <a class="hover:text-red-500" href="/register">Register</a>
          </div>
          
        </div>
        

        <div class="border-t-2 mx-5 py-2 ">
          {% block content%}
          {% endblock content %}
        </div>
      </div>
    </body>
  </html>